<div class="grid grid--ver grid--root page">
<div class="grid grid--hor grid--root  login login--v3 login--signin" id="login">
    <div class="grid__item grid__item--fluid grid grid--hor" style="background-image: url(../../../../assets/images/bg-3.jpg);">
      <div class="grid__item grid__item--fluid login__wrapper">
        <div class="login__container">
          <div class="login__logo">
            <a href="#">
          <img src="../../../../assets/images/logo.jpg">
        </a>
          </div>
          <div class="login__signin">
            <div class="login__head">
              <h3 class="login__title">Sign In</h3>
            </div>
            <form class="form"  name="loginform" onSubmit="return validateForm();" action="dashboard.html">
              <div class="input-group">
                <input class="form-control" type="text" id="username" placeholder="Username" name="usr"
                  autocomplete="off">
              </div>
              <div class="input-group">
                <input class="form-control" type="password" id="password" placeholder="Password" name="pword">
              </div>
              <div class="row login__extra">
                <div class="col">
                  <label class="checkbox">
                    <input type="checkbox" name="remember"> Remember me
                    <span></span>
                  </label>
                </div>
                <div class="col align-right">
                  <a href="javascript:;" id="login_forgot" class="login__link">Forgot
                    Password ?</a>
                </div>
              </div>
              <div class="login__actions">
                <button  (click)="signIn(this.form)"
                  class="btn btn-brand btn-elevate login__btn-primary">Sign In</button>
              </div>
            </form>
          </div>
          <div class="login__signup">
            <div class="login__head">
              <h3 class="login__title">Sign Up</h3>
              <div class="login__desc">Enter your details to create your account:</div>
            </div>
            <form class="form" action="#">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Fullname" name="fullname">
              </div>
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Email" name="email"
                  autocomplete="off">
              </div>
              <div class="input-group">
                <input class="form-control" type="password" placeholder="Password" name="password">
              </div>
              <div class="input-group">
                <input class="form-control" type="password" placeholder="Confirm Password"
                  name="rpassword">
              </div>
              <div class="row login__extra">
                <div class="col align-left">
                  <label class="checkbox">
                    <input type="checkbox" name="agree">I Agree the <a href="#"
                      class="link login__link font-bold">terms and conditions</a>.
                    <span></span>
                  </label>
                  <span class="form-text text-muted"></span>
                </div>
              </div>
              <div class="login__actions">
                <button id="login_signup_submit"	class="btn btn-brand btn-elevate login__btn-primary">Sign
                  Up</button>&nbsp;&nbsp;
                <button id="login_signup_cancel"
                  class="btn btn-light btn-elevate login__btn-secondary">Cancel</button>
              </div>
            </form>
          </div>
          <div class="login__forgot">
            <div class="login__head">
              <h3 class="login__title">Forgotten Password ?</h3>
              <div class="login__desc">Enter your email to reset your password:</div>
            </div>
            <form class="form" action="#">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Email" name="email"
                  id="email" autocomplete="off">
              </div>
              <div class="login__actions">
                <button id="login_forgot_submit"
                  class="btn btn-brand btn-elevate login__btn-primary">Request</button>&nbsp;&nbsp;
                <button id="login_forgot_cancel"
                  class="btn btn-light btn-elevate login__btn-secondary">Cancel</button>
              </div>
            </form>
          </div>
           
        </div> 
      </div>
    </div>
  </div>
</div>